<div class="topbar">
    <a class="logo" href="/">
        {% image "./src/image/logo.svg", "photo of my", "(min-width: 30em) 50vw, 100vw" %}
        <div class="logotextfield">
            <h1>Makka</h1>
            <h1 class="logotext">Pakka</h1 >
        </div>
    </a>
    <button></button>
</div>